
.appuser {
    display: flex;
    justify-content: space-between;
}

.element {
    padding: 3px 0;
}

.element label {
    width: 25%;
}

.image-preview {
    max-width: 200px;
    max-height: 200px;
}
