{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'hello/css/hello.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>42 Coffee Cups Test Assignment</h1>
        </div>
        <div class="appuser row">
            <div class="col-sm-6">
                <div class="element">
                    <label>{{ appuser.first_name }}</label>
                </div>
                <div class="element">
                    <label>{{ appuser.last_name }}</label>
                </div>
                <div class="element">
                    <label>{{ appuser.date_of_birth|date }}</label>
                </div>
                <div class="element">
                    <label>Bio:</label>
                    <p>{{ appuser.bio|linebreaksbr }}</p>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>Contacts</h4>
                <div class="element">
                    <label>Email:</label>
                    <span>{{ appuser.email }}</span>
                </div>
                <div class="element">
                    <label>Jabber:</label>
                    <span>{{ appuser.jabber }}</span>
                </div>
                <div class="element">
                    <label>Skype:</label>
                    <span>{{ appuser.skype }}</span>
                </div>
                <div class="element">
                    <label>Other contacts:</label>
                    <p>{{ appuser.other_contacts|linebreaksbr }}</p>
                </div>
            </div>
        </div>
        <hr>
        <a href="{% url 'requestlog' %}">Requests</a>
    </div>
{% endblock %}
