{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'hello/css/hello.css' %}"/>
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'hello/js/requestlog.js' %}"></script>
{% endblock %}

{% block title %}
Request log -
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="page-header">
            <h1>Request log <small>Last updated: <span id="last_update">{{ last_update|localtime|date:"Y-m-d H:i:s" }}</span></small></h1>
        </div>
        <script>
            window.last_id = {{ last_id }};
            window.requests_count = {{ requests_count }};
        </script>
        <table id="requests" class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Datetime</th>
                    <th>Method</th>
                    <th>Path</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody id="requests-body">
                {% for request in requests %}
                    <tr class="request-row" id="{{ request.id }}" data-priority="{{ request.priority }}">
                        <td class="request-date">{{ request.date|date:"Y-m-d H:i:s" }}</td>
                        <td class="request-method">{{ request.method }}</td>
                        <td class="request-path">{{ request.path }}</td>
                        <td class="request-priority">
                            <span class="view">
                                {{ request.priority }}
                                <span class="show-on-hover">&#9997;</span>
                            </span>
                            <div class="edit hide input-group">
                                <form name="edit_priority" action="{% url 'edit_request' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ request.id }}">
                                    <input type="number" class="inline-edit form-control" name="priority" value="{{ request.priority }}">
                                    <button type="submit" class="btn btn-default">Save</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <a href="{% url 'index' %}">Main page</a>
    </div>
{% endblock %}
