{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'hello/css/hello.css' %}"/>
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'hello/js/requestlog.js' %}"></script>
{% endblock %}

{% block title %}
Request log -
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Request log <small>Last updated: <span id="last_update">{{ last_update|localtime|date:"Y-m-d H:i:s" }}</span></small></h1>
        </div>
        <script>
            window.last_id = {{ last_id }};
            window.requests_count = {{ requests_count }};
        </script>
        <table id="requests" class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Datetime</th>
                    <th>Method</th>
                    <th>Path</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody id="requests-body">
                {% for request in requests %}
                    <tr class="request-row" id="{{ request.id }}">
                        <td class="request-date">{{ request.date|date:"Y-m-d H:i:s" }}</td>
                        <td class="request-method">{{ request.method }}</td>
                        <td class="request-path">{{ request.path }}</td>
                        <td class="request-priority">{{ request.priority }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <a href="{% url 'index' %}">Main page</a>
    </div>
{% endblock %}
